{% extends "index.html" %}

{% block content %}
    <section id="content" class="s-content s-content--page">       
        <div class="container">
            <div class="row entry-wrap">
                <div class="column lg-12">
                    <article class="entry">
                        <header class="entry__header entry__header--narrow">
                            <h1 class="entry__title">
                                Learn More About Us.
                            </h1>
                        </header>
                        <div class="content-primary">
                            <div class="entry__content">
                                <p class="lead">Welcome you to our page dedicated to providing motivational tips for a healthy life and mindset. This initiative stemmed from my deep commitment to holistic well-being and the constant pursuit of personal excellence.</p> 
                                <div class="row block-lg-one-half block-tab-whole">
                                    <div class="column">
                                        <p class="drop-cap">
                                            In an increasingly challenging and complex world, it is essential to cultivate a positive mindset and adopt healthy habits that promote our growth and development. My goal in creating this page is to offer a safe and enriching space where individuals can find inspiration, support, and guidance to enhance their quality of life.
                                            </p>
                                    </div>
                                    <div class="column">
                                        <p>
                                            I firmly believe in the transformative power of motivational words and actions. Through our posts, we strive to share ideas, reflections, and practical strategies that foster personal empowerment and the overcoming of obstacles.
                                        </p>
                                        <p>
                                            Our commitment extends beyond merely providing advice; we are dedicated to building an inclusive and supportive community where everyone can feel valued and supported on their journey toward a more fulfilling and meaningful life.
                                        </p>
                                    </div>
                                </div>
                                <!-- Signature -->
                                <div class="signature">
                                    <p>Sincerly,</p>
                                    <p>
                                        <strong>Martina</strong>
                                    </p>
                                </div>
                            </div> <!-- end content-primary -->
                        </div> <!-- end entry__content -->
                    </article> <!-- end entry -->
                </div>
            </div> <!-- end entry-wrap -->
        </div> <!-- end container -->
    </section> <!-- end s-content -->
{% endblock %}